<%= turbo_frame_tag "users_viewing_links", target: "_top" do %>
  <strong>Who's Browsing</strong>

  <div class="dashboard__users-viewing-links">
    <% users_viewing_links.each do |user| %>
      <%= link_to link_path(user.viewing_link) do %>
        <%= user.username %>
      <% end %>
    <% end %>
  </div>
<% end %>