<h2>
  <iconify-icon icon="mdi:dog-service"></iconify-icon>
  <%= @leash.pet.username.capitalize %>'s Flair
</h2>

<p>
  As <%= @leash.pet.username.capitalize %>'s master, you're allowed to add a small flair to their username, that will
  appear anywhere their username shows on the website. Use this for praise or punishment, that's up to your training
  method.
</p>

<%= render "form", leash: @leash %>