<div class="details__container">
  <% if is_current_user %>
    <div class="task-tools small">
      <div class="right">
        <a href="<%= user_path(user.username) %>/edit" title="Edit my details" class="no-underline">
          <ion-icon role="presentation" name="build"></ion-icon>
          Edit
        </a>
      </div>
    </div>
  <% end %>
  <% if user.details.present? %>
    <%
      default_tags = Rails::Html::Sanitizer.white_list_sanitizer.allowed_tags
      default_attributes = Rails::Html::Sanitizer.white_list_sanitizer.allowed_attributes
    %>
    <blockquote><%= simple_format user.details, {}, { sanitize_options: { attributes: default_attributes.merge(%w[colspan rowspan style class id]), tags: default_tags.merge(%w[table tr td th tbody thead style]) } } %></blockquote>
  <% else %>
    <blockquote><small>No profile description... yet!</small></blockquote>
  <% end %>
</div>