<div data-turbo-prefetch="false" class="task-tools">
  <div class="left">
    <%= link_to "Back", survey_responses_path(@response.survey) %>
  </div>
  <div class="right">
    <!-- TODO! Allow people to comment on responses, so they show on their profile, like a Q/A -->
    <%= button_to "Comment", @survey, method: :get %>
  </div>
</div>

<% @response.survey.form_elements.each do |element| %>
  <%= turbo_frame_tag dom_id(element), src: single_response_survey_response_path(@response, form_element_id: element) %>
<% end %>