<%# locals: (message:) %>

<%= link_to news_room_index_path, target: '_top' do %>
  <div class="chyron">
    <div class="WTN-logo">WTN</div>
    <div>
      <%= message %>
    </div>
  </div>
<% end %>