<%= turbo_frame_tag "header_notifications", target: '_top' do %>
  <div class="notifications" data-controller="notifications">
    <%= button_tag class: 'notification-bell', data: { 'notifications-target': 'trigger', 'action': 'click->notifications#toggle' } do %>
      <ion-icon role="presentation" name="notifications"></ion-icon>
    <% end %>

    <div class="notifications__popover" data-notifications-target="popover">
      <% if notifications.count == 0 %>
        <div class="notifications__empty">
          No notifications yet.
        </div>
      <% else %>
        <% notifications.each do |notification| %>
          <%= render 'notification', notification: %>
        <% end %>

        <%= button_to clear_notifications_path, method: 'delete' do %>
          <ion-icon role="presentation" name="trash"></ion-icon>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>